body {
  /* background: url('./Img/Numbers.png'); */
  background: url('./Img/Numbers.png');
}

.container {
  width: 60vw;
  height: 100vh;
  margin: auto;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: black;
  border: none;
  color: white;
}

.home-button{
  font-size: 30px;
  box-shadow: darkgreen;
  border-radius: 16px;
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: limegreen;
}
.home-button:hover{
  font-weight: bold;
  font-size: 35px;
  cursor: pointer;
}

.newGameButton {
  font-size: 50px;
  box-shadow: darkgreen;
  border-radius: 16px;
  color: limegreen;
}
.newGameButton:hover{
  font-weight: bold;
  font-size: 55px;
  cursor: pointer;
}
.new-game-heading{
  color: rgb(255, 255, 255);
  font-size: 70px;
  margin-top: 100px;
}

.modes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.modeButton{
  font-size: 30px;
  box-shadow: darkgreen;
  border-radius: 16px;
  color: limegreen;
}
.modeButton:hover{
  font-weight: bold;
  font-size: 35px;
  cursor: pointer;
}
.modeSelect{
  margin-top: 100px;
  color: white;
  font-size: 50px;
}

.player-instructions{
  color: red;
  margin-top: 50px;
}
.player-heading{
  margin-top: 50px;
  color: white;
}
.proceed{
  font-size: 25px;
  box-shadow: darkgreen;
  border-radius: 16px;
  margin-top: 20px;
  color: limegreen;
}
.proceed:hover{
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

#player-game{
  justify-content: center;
}
.level{
  font-size: 70px;
  font-weight: bold;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.guess{
  font-size: 30px;
  margin-top: 0;
}
.guess-input{
  width: 250px;
  height: 20px;
  font-size: 20px;
  margin-bottom: 5px;
}
.guess-button{
  font-size: 25px;
  box-shadow: darkgreen;
  border-radius: 16px;
  color: limegreen;
}
.guess-button:hover{
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}
.guess-tries{
  font-size: 20px;
  color: red;
  font-weight: bold;
  margin-bottom: 0;
}
.guess-verdict{
  font-size: 20px;
}
.next-stage{
  font-size: 25px;
  box-shadow: darkgreen;
  border-radius: 16px;
  margin-bottom: 5px;
  color: limegreen;
}
.next-stage:hover{
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}
.guess-over{
  font-size: 25px;
  box-shadow: darkgreen;
  border-radius: 16px;
  color: limegreen;
}
.guess-over:hover{
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

.player-label{
  font-size: 25px;
}
.player-input{
  width: 250px;
  height: 20px;
  font-size: 20px;
  margin-bottom: 5px;
}
.player-turn{
  font-size: 40px;
}
.winner{
  font-size: 60px;
}